body {
  margin: 0;
  background-color: #0a161f;
  height: 100%;
  font-family: Arial, "Helvetica CY", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #ccc;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;
}
